<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr_mani">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import amr_mani urdf file -->
    <xacro:include filename="$(find amr_mani_description)/urdf/amr_mani.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="amr_mani.ros2_control.xacro" />


    <xacro:amr_mani_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
